/public
resources/
node_modules/
.hugo_build.lock

.vscode/settings.json

# Content
content/de/docs/aktionen/.$aktionen.svg.*
content/en/docs/aktionen/.$actions.svg.*

content/de/docs/menu/.$menuebaum.svg.*
content/en/docs/menu/.$menu-tree.svg.*