// Custom colors

$primary: #810012;
$secondary: #bfbfbf;

$success: #62cdee;
$info: #d2d8d8;
$warning: #ed6a5a;
$danger: #ed6a5a;
$light: #d3f3ee; // TODO: consider using BS value
$dark: #525161;  // TODO: consider using BS value

// footer: enable display of 'All rights reserved'

.td-footer__all_rights_reserved {
    display: inline !important;
}

// allow customization of heading self links

.td-heading-self-link {
    &:before {
      content: '#' !important;
    }
}
