{{ $langs := dict "en" 0 "de" 1 "es" 2 "fr" 3 "it" 4 "fi" 5 "zh-TW" 6 "tr" 7 "el" 8 "ru" 9 "nl" 10 "cs" 11 "et" 12 "bg" 13 "bs" 14 "no" 15 "uk" 16 -}}

{{ $lang := "de" -}}
{{ if and (not .IsNamedParams) (.Get 0) -}}
  {{ $lang = (.Get 0) -}}
{{ else -}}
  {{/* Set language if not given as named or unnamed parameter */ -}}
  {{ $lang = .Get "lang" | default "de" -}}
{{ end -}}

<script>
const ewLanguage = {{ index $langs $lang }};
</script>

<CANVAS id="_canvas_index" width="1000" height="740" tabindex="1">
    Sorry, your browser doesn't support the canvas element.
  </CANVAS>
  <SCRIPT type="text/javascript" src="/demo/emwi_compr_13_00.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/_project.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Core.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Effects.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Graphics.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Resources.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/ResourcesDefaultFont.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Views.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Application.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Strings.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Res.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Colors.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Fonts.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontS.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontM.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontL.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontXL.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontSymbols.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontXS.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontSymbolsM.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontBoldS.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontBoldM.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/res_index/FontsFontSymbolsS.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Simulation.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Templates.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Charts.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Device.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/DeviceSimulation.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/DeviceDemonstrator.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/DropDown.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/DeviceTarget.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/DeviceRes.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Demonstrator.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Test.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Tests.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/WidgetSet.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Countries.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/LEDColors.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/StringsXL.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Breeds.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/GermanStates.js"></SCRIPT>
  <SCRIPT type="text/javascript" src="/demo/code_index/Months.js"></SCRIPT>
  <SCRIPT type="text/javascript">
     var params = { "FullScreenUpdate" : false,
                   "Alpha"            : false,
                   "Debug"            : false,
                   "OnKeyEvent"       : null };

     // Initialize the application
    index._Init( "_canvas_index", params );
  </SCRIPT>