<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3" integrity="sha512-sQFwlNnBlEyWdI4EwJ9d2wjViu0ZPmIMjPP8kCmBoOjqcljGndf2gb4mldT4ZHxKCQcrdJ0+rxnMFKHuGWB7ag==" crossorigin="anonymous"></script>
<script type="text/javascript">
docsearch({
  container: '#docsearch-navbar',
  appId: '1Z1TMJYUKF',
  apiKey: 'e28fb68fa9dfc66d93502fab73edb219',
  indexName: 'vitalcontrol',
  insights: true,
  debug: false
});
docsearch({
  container: '#docsearch-sidebar',
  appId: '1Z1TMJYUKF',
  apiKey: 'e28fb68fa9dfc66d93502fab73edb219',
  indexName: 'vitalcontrol',
  insights: true,
  debug: false
});
</script>
